<section class="form-container">
  <form (ngSubmit)="addShopItem()">
    <label for="name">Product Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="newItem.name"
      name="name"
      required
    />
  
    <label for="shortDescription">Short Description:</label>
    <input
      type="text"
      id="shortDescription"
      [(ngModel)]="newItem.shortDescription"
      name="shortDescription"
      required
    />
  
    <label for="description">Description:</label>
    <input
      type="text"
      id="description"
      [(ngModel)]="newItem.description"
      name="description"
      required
    />
  
    <label for="price">Price:</label>
    <input
      type="number"
      id="price"
      [(ngModel)]="newItem.price"
      name="price"
      required
    />
  
    <label for="rating">Rating:</label>
    <input
      type="number"
      id="rating"
      [(ngModel)]="newItem.rating"
      name="rating"
      required
    />
  
    <label for="image">Image URL:</label>
    <input type="text" id="image" [(ngModel)]="newItem.imageLink" name="image" />
  
    <label for="productLink">Product Link:</label>
    <input type="text" id="productLink" [(ngModel)]="newItem.productLink" name="productLink" />
  
  
    <button type="submit">Add Item</button>
  </form>
  
</section>
